/pcsxr/win32/Debug/
/pcsxr/win32/Release/
/pcsxr/win32/plugins/bladesio1/Debug/
/pcsxr/win32/plugins/dfsound/Debug/
/pcsxr/win32/plugins/dfxvideo/Debug/
/pcsxr/win32/plugins/PadSSSPSX/Debug/
/pcsxr/win32/plugins/peopsxgl/Debug/
/pcsxr/win32/ida_pcsxr/Debug/
/pcsxr/win32/plugins/bladesio1/Release/
/pcsxr/win32/plugins/dfsound/Release/
/pcsxr/win32/plugins/dfxvideo/Release/
/pcsxr/win32/plugins/PadSSSPSX/Release/
/pcsxr/win32/plugins/peopsxgl/Release/
/pcsxr/win32/ida_pcsxr/Release/
*.opensdf
*.suo
*.sdf
*.aps